@charset "utf-8";

@import "../../../_modules/_component.css";


@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}

html {
	font-size: 10px;
  scroll-behavior: smooth;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
cite,
em,
pre,
img,
small,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /* font-weight: 500; */
  font-style: normal;
  background: transparent;
  box-sizing: border-box;
  line-break: strict;
  letter-spacing: 0.05rem;
	color: #333;
	page-break-inside: avoid;
}

span {
	margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-style: normal;
  background: transparent;
  box-sizing: border-box;
  line-break: strict;
  letter-spacing: 0.1rem;
	page-break-inside: avoid;
}
body {
	-webkit-text-size-adjust: none;
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;

  line-height: 1;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
	font-feature-settings: "palt";
}

li {
  list-style-type: none;
}

article,
aside,
figure,
footer,
header,
nav,
section {
  display: block;
}

*:before *:after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(100, 100, 100, 0.5);
  text-decoration: none;
  color: $link-color;
  box-sizing: border-box;
}

hr {
  margin: 20px 0;
  padding: 0;
  border-color: #333;
  border-style: solid;
}

button {
  cursor: pointer;
  outline: none;
}
input,
select,
button {
  vertical-align: middle;
  appearance: none;
}

#wrapper {
	position: relative;
	padding-bottom: 50px;
	overflow: hidden;

	&.is_grid {
		display: grid;
		grid-template-columns: 230px 1fr;
  	grid-template-rows: 1fr;
	}
}

#copy {
	display: none;
}

#print_name {
	display: none;
}

#nav {
	grid-column: 1;
	grid-row: 1;
	
	position: fixed;
	top: 0;
	left: 0;

	width: 230px;
	height: 100vh;
	border-right: 1px solid #EEEEEE;
	
	h1 {
		font-size: 18px;
		font-weight: bold;
		text-align: left;
		margin: 25px 20px;
	}

	ul {
		li {
			background-color: #fff;
			transition: all .45s cubic-bezier(0.215, 0.61, 0.355, 1);

			a {
				display: block;
				font-size: 14px;
				font-weight: bold;
				color: #333;
				padding: 23px 20px;

				word-break: break-all;
				white-space: pre-wrap ;
				line-height: 1.5;

				position: relative;
				
				&:before {
					display: block;
					content: '';
					width: 3px;
					height: 0;

					background-color: #3B5CBF;

					position: absolute;
					top: 50%;
    			left: 0;
					transform: translateY(-50%);
					
					transition: all .45s cubic-bezier(0.215, 0.61, 0.355, 1);
				}

				&:hover {
					&:before {
							height: 100%;
					}
				}
			}

			&.current {
				background-color: #E8EEFF;

				a {
					&:before {
						height: 100%;
					}
				}
			}

			&.type {
				a {
					display: grid;
					grid-template-columns: 1fr 58px;
  				grid-template-rows: 1fr;
					align-items: center;
					justify-content: space-between;

					&:after {
						display: block;
						content: '';
						background-color: #333;
						border-radius: 100px;

						font-size: 10px;
						font-weight: bold;
						text-align: center;
						color: #fff;
						padding: 5px 9px;
						margin-left: 10px;
						letter-spacing: 0;
					}
				}

				&.get {
						a:after {
							content: 'GET';
							background-color: #3BBF87;
						}
					}
					&.post {
						a:after {
							content: 'POST';
							background-color: #3B5CBF;
						}
					}
			}
		}
	}

	#copy {
		display: block;
		width: 100%;
		position: absolute;
		bottom: 20px;
		text-align: center;
		padding: 0 20px;
		line-height: 1.2;
	}
}


#contents {
	grid-column: 2;
	grid-row: 1;
	padding: 50px;
	padding-right: 30px;
	position: relative;
	/* transform: perspective(0px); */

	&:before {
		display: block;
		content: '';
		background-color: #fafafa;
		width: calc(50% - 125px);
		height: 100vh;

		position: fixed;
		top: 0;
		right: 0;
		z-index: -1;
	}

	.index {
		margin: 0 0 20px;
		padding-top: 200px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		clear: both;

		&:before {
			display: block;
			content: '';
			width: calc(100% + 80px);
			height: 1px;
			background-color: #eee;
			
			position: absolute;
			top: 100px;
			left: -50px;
		}

		&:first-child {
			padding-top: 0;

			&:before {
				display: none;
			}
		}

		& > ul {
			display: flex;
			ustify-content: flex-start;
		
			& > li {
				font-size: 12px;
				font-weight: bold;
				color: #fff;
				border-radius: 100px;

				margin-right: 5px;

				background-color: #59BF3B;
				padding: 10px 20px;

				&.post {
					background-color: #3B5CBF;
				}
				&.get {
					background-color: #3BBF87;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	h2 {
		font-size: 24px;
		font-weight: bold;
		color: #333333;
		width: calc(50% - 50px);
		word-break: break-all;
		line-height: 1.5;
	}

	& > p {
		font-size: 14px;
		line-height: 1.5;
		color: #404B53;

		margin-right: calc(50% + 50px);
		margin-top: 20px;
	}
	
	.source {
		float: right;
		width: calc(50% - 30px);
		clear: both;
		border-radius: 8px;
		overflow: hidden;
		
		&.border {
			border-radius: 8px 8px 0 0;
		}

		& + .source {
			border-radius: 0 0 8px 8px;
		}

		& > p {
			background-color: #313B45;
			padding: 15px 20px;
		}
		strong {
			font-size: 14px;
			font-weight: bold;
			color: #C5D7E0;
		}

		pre {
			padding: 20px;
			background-color: #232323;
			color: #C5D7E0;
			font-size: 13px;
		}

		code {
			word-break: break-all;
			white-space: pre-wrap ;
			line-height: 1.5;
		}
	}

	h3 {
		font-size: 16px;
		font-weight: bold;
		color: #313B45;
		padding-top: 60px;
		margin-right: calc(50% + 50px);
		clear: both;
	}

	h4 {
		font-size: 14px;
		font-weight: bold;
		color: #313B45;
		padding-top: 30px;
		margin-right: calc(50% + 50px);
		clear: both;
	}

	.table_block {
		margin-top: 30px;
		margin-right: calc(50% + 50px);
	}
	
	table {
		width: 100%;
		/* table-layout: fixed; */
		border-collapse: collapse;

		thead {
			th {
				font-size: 12px;
				font-weight: bold;
				color: #8D9AA1;

				border-bottom: 1px solid #EBF0F2;
				padding-bottom: 15px;
				text-align: left;

				&:first-child {
						font-weight: bold;
						width: 30%;
					}
			}
		}
		
		tbody {
			tr {
				td {
					padding-top: 20px;
					padding-bottom: 20px;
					padding-right: 20px;
					text-align: left;
					
					font-size: 14px;
					color: #404B53;
					word-break: break-all;
					line-height: 1.5;
					vertical-align: top;

					border-bottom: 1px solid #EBF0F2;

					&:first-child {
						font-weight: bold;
						width: 30%;

						em {
							display: block;
							font-size: 11px;
							font-weight: bold;
							color: #7C91A1;

							&.required {
								color: #BF9E3B;
							}
						}
					}
				}

				&.child {
					background-color: #FAFAFA;

					td:first-child {
						padding-left: 20px;
					}
				}
			}
			tr:first-child {
				td {
					padding-top: 15px;
				}
			}
		}
	}
}

@media (--tab-view) {
	#print_name {
		display: block;
		padding: 50px;
		font-size: 20px;
	}

	#wrapper.is_grid {
		display: block;
		position: relative;
	}
	#nav {
		display: none;
	}

	#contents {
		&:before {
			width: calc(50% - 10px);
		}
	}

	#copy {
		display: block;
		width: 100%;
		text-align: left;
		padding-left: 50px;
		padding-bottom: 50px;
	}
}

@media (--smp-view) {
	#print_name {
		display: block;
		padding: 30px;
		font-size: 20px;
	}

	#wrapper.is_grid {
		display: block;
	}
	#nav {
		display: none;
	}

	#contents {
		padding: 5%;

		&:before {
			display: none;
		}

		.index {
			display: block;

			h2 {
				margin-bottom: 20px;
				width: 100%;
				margin-right: 0;
			}
		}

		& > p {
			margin-right: 0;
		}

		.source {
			float: none;
			width: 100%;
			margin-top: 20px;

			&.border + .source {
				margin-top: 0;
			}
		}

		h3,
		.table_block {
			margin-right: 0;
		}
	}

	.table_block {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	table {
		min-width: 500px !important;
	}

	#copy {
		display: block;
		width: 100%;
		text-align: center;
		padding-bottom: 50px;
	}
}

@media (--print) {
	html, body {
		width: 1024px;
		zoom: 0.748;
	}
	body {
		background-color: #fff !important;
	}
	
	#wrapper {
		position: relative;

		&.is_grid {
			display: block !important;
		}
		
	}

	#print_name {
		display: block;
		padding: 50px;
		font-size: 20px;
	}

	#nav {
		display: none !important;
	}

	#contents {
		&:before {
			display: none;
		}

		.index {
			&:before {
				height: 2px;
			}
		}


		.source {
			pre {
				/* background-color: #eee !important; */
				color: #333 !important;
			}
		}
	}

}
